@page "/Info/{id:int}"
@inject DatabaseContext DbContext
@inject PokemonImageGrabber ImageGrabber


<h3>Info</h3>

@if (pokemon is not null)
{
    <h1>@pokemon?.Name</h1>
    <span class="badge text-bg-primary bg-success">@pokemon?.Type</span>
    <span class="badge text-bg-primary">Generation: @pokemon?.Generation </span>


    <div class="card">
        <div class="card-body bg-light">
            
        <img src="@imageurl" style="width:400px;" align="left" />

        <p>HP:</p>
            <div class="progress" style=" height:30px;" >
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="@pokemon?.HP" aria-valuemin="1" aria-valuemax="255" style="width:@(pokemon?.HP*100/255)%">
            </div>
        </div>

        <p>Speed:</p>
        <div class="progress" style=" height:30px;" >
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@pokemon?.Speed" aria-valuemin="1" aria-valuemax="255" style="width:@(pokemon?.Speed*100/255)%">
            </div>
        </div>

        <p>Attack:</p>
        <div class="progress" style="height:30px;" >
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="@pokemon?.Attack" aria-valuemin="1" aria-valuemax="255" style="width:@(pokemon?.Attack*100/255)%">
            </div>
        </div>
        <p>Defence:</p>
        <div class="progress" style=" height:30px;" >
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="@pokemon?.Defence" aria-valuemin="1" aria-valuemax="255" style="width:@(pokemon?.Defence*100/255)%">
            </div>
        </div>
        <p>Total:</p>
        <div class="progress" style=" height:30px;" >
            <div class="progress-bar" role="progressbar" aria-valuenow="@pokemon?.Total" aria-valuemin="1" aria-valuemax="800" style="width:@(pokemon?.Total*100/800)%">
                </div>



        </div>
        </div>
    </div>
}
else
{
    <p>No pokemon found for Id @Id</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon? pokemon;
    private string imageurl;
    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
        imageurl = ImageGrabber.GetImageUrl(pokemon);
    }

}
