@page "/Trainers"
@rendermode InteractiveServer
@inject DatabaseContext DbContext



<div class="row g-0">
        <div class="col-md-12">
            <button class="btn btn-primary float-end" @onclick="ShowAddTrainer">
                Add trainer
            </button>
        </div>
 </div>

@if (showForm)
{
    <div class="card">
        <div class="="card-body bg-light">
            <h4 class="card-title">
                @model.Id == 0 > "Add Trainer : Edit Trainer")
                </h4>
                <EditForm OnValidSubmit="TrainerSubmit" EditContext="editContext">





                </EditForm>
            </h4>
        </div>"
    </div>
}


  
<table class="table">
   <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Companion</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
   </thead
     <tbody>
            @foreach (var trainer in trainers)
            {
            <tr>
        
                <td>@trainer.Name</td>
                <td>@trainer.Companion.Name</td>
                <td>
                    <button class="btn btn-success" @onclick="() => Edit(trainer)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="() => Delete(trainer)">Delete</button>
                </td>
            </tr>
            }
     </tbody>
 
            
  
 </table>

@code {
    private Trainers model;
    private bool showForm;
    private EditContext editContext;
    private List<Trainer> trainers;
    
    private void Info(Trainers trainer)
    {
       
    }
   
    protected async override Task OnInitializedAsync()
    {
        trainers= await DbContext.Trainers.Include(t=>t.Companion).ToListAsync();
    }

    private void Edit(Trainer trainer)
    {
        
        editContext = new EditContext(model);
        showForm = true;
    }

    private async Task Delete(Trainer trainer)
    {
        DbContext.Trainers.Remove(trainer);
        await DbContext.SaveChangesAsync();
        await Refresh();
    }
    private void Submit()
    {
    
    }
  

    
    private void ShowAddTrainer()
    {
      model = new Trainers();
      editContext = new EditContext(model);
      showForm = true;  
    }

    protected async Task Refresh()
    {
       model = new Trainers();
       editContext = new EditContext(model);
       trainers = await DbContext.Trainers.ToListAsync(); 
    }

}
